* {
    margin: 0;

}

.style1 {

    height: px;
    position: relative;
    text-align: right;
    justify-content: center;
    left: 709px;
    top: 216px;
    font-weight: 700;
    font-size: 35px;

}

nav {
    display: flex;
    justify-content: center;
}

.btn {
    position: absolute;
    width: 320px;
    height: 90px;
    left: 700px;
    top: 660px;
    background-color: orangered;
    border: 0;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 23px;
    text-align: center;

    color: white;

}

.lin {
    font-size: 100px;
    padding-top: 180px;
    text-align: right;
}

.mmm {
    font-size: 35px;
    text-align: right;

}